# 과제1_2장

### 점프투 파이썬 2장의 내용을 과제로 냈습니다. 

### 설치가 끝난 사람은 과제도 한번 풀어 보세요.

## 1. 변수 a,b에 각각 30 과 30.5를 할당하세요

In [5]:
# 방법1
a, b = 30, 30.5

In [6]:
a, b

(30, 30.5)

In [7]:
# 방법2
a = 30
b = 30.5

In [8]:
a, b

(30, 30.5)

## 2. 변수 a와 b의 자료형을 출력하세요 
 - type() 함수 : 변수의 자료형을 확인하는 함수

In [11]:
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

## 3. 변수 c 에 hello world을 문자열 자료형으로 값을 할당하고 이 문자열의 길이를 출력하세요
- len()함수 : 문자열의 길이를 확인하는 함수

In [12]:
c = "hello world"
print(len(c))

11

## 4. 변수 c의 hello world에서 world만 출력하세요
- offset인덱스 사용. [숫자:숫자]

In [14]:
# 방법1
c[6:]

'world'

In [18]:
# 방법2
c[c.index('world'):]

'world'

## 5. 변수 d를 역순으로 출력하세요. 
- offset인덱스 사용[숫자:숫자:숫자] 역순이 되게 하는 stride 사용

In [20]:
d = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
d[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [24]:
sorted(d, reverse=True)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 6. join함수를 사용하여 리스트 안의 원소를 하나의 문자열로 합쳐 보세요

In [26]:
k = ['I', 'like', 'python', 'and', 'programing']

In [27]:
 #이렇게 한문장으로 만드세요. "I like python and programing"

In [29]:
" ".join(k)

'I like python and programing'

## 7. 국어 :80, 수학: 90, 영어: 100 점인 data가 있다 이 data를 dictionary type으로 하나의 변수에 할당하세요.

In [36]:
score_dict = {'국어': 80, '수학': 90, '영어': 100}
score_dict

{'국어': 80, '수학': 90, '영어': 100}

## 8. 위에 할당한 dictionary에 과학 88점을 추가하세요.

In [37]:
score_dict['과학'] = 88
score_dict

{'국어': 80, '수학': 90, '영어': 100, '과학': 88}

### 9. 변수 i를 split함수를 써서 list type 으로 변환하세요

In [35]:
i = "I like a python"
i.split()

['I', 'like', 'a', 'python']

### 10. format을 이용하여 다음 값을 출력하세요 
"나는 사과를 a개 먹었습니다에서 a에 할당한 상수 값이 들어오게 하세요"

In [40]:
from random import *

a = randint(1,100)

In [42]:
print("나는 오늘 사과를 %d개 먹었습니다." % a)

나는 오늘 사과를 62개 먹었습니다.

In [44]:
print("나는 오늘 사과를 {a}개 먹었습니다".format(a=a))

나는 오늘 사과를 62개 먹었습니다

In [45]:
print(f"나는 오늘 사과를 {a}개 먹었습니다.")

나는 오늘 사과를 62개 먹었습니다.

In [49]:
print(f"나는 오늘 사과를 {randint(1, 100)}개 먹었습니다.")

나는 오늘 사과를 98개 먹었습니다.